<!DOCTYPE html>
<html>
<head>
	<title>StellarTipBot - Claim Claimable Balance</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
	<h1>Accept claimable balance</h1>
	<h2>You're going to accept a claimable balance that was sent to you containing {{ amount }} {{ asset_name }}. In order to proceed sign the following transaction by clicking the button.</h2>
	  
	<script src="https://albedo.link/albedo-intent-button.js"
  x-intent="tx"
  x-xdr="{{ xdr }}"
  x-network="testnet"
  x-height="30"
  x-width="200"
  x-class-name="waves-effect waves-light btn"
  x-title="Claim Balance" 
  x-submit="true"
  async>
</script>
	</div>
</body>
</html>